@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    text-decoration: none;
}


body{
    display: flex;
    height: 100vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


.container{
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .tittle{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .tittle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-datails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-datails .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .user-datails .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .user-datails .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: 0.3s;
}

form .user-datails .input-box input:focus{
    border-color: #9b59b6;
}

form .button{
    height: 45px;
    margin: 20px 0;
}
form .button input{
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);;
}

@media screen and (max-width: 600px) {
    .container{
        max-width: 100%;
    }

    form .user-datails .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .user-datails {
        max-height: 300px;
        overflow-y: scroll;
    }
    
}


